*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    background-color: hsla(304, 42%, 39%, 0.964);
    color: #cbd5e1;
    line-height: 1.7;
}

h1, h2 {
    font-family: "Felipa", serif;
}

h3,
h4 {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    line-height: 1.2;
}

section:not(#Home, #BukuTamu) {
    padding: 80px 0;
    border-bottom: 1px solid hsl(215, 100%, 98%);
}

section h2 {
    color: #ffffff;
    font-size: 2.2rem;
    margin-bottom: 40px;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: hsla(305, 54%, 24%, 0.964);
    border-bottom: 2px solid white;
    backdrop-filter: blur(10px);
}

header h1 {
    font-size: 1.5rem;
    color: #ffffff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

#Home {
    text-align: center;
    background: linear-gradient(to bottom, hsl(289, 55%, 55%), rgb(198, 102, 181));
    padding: 40px 10px 60px;
    border-radius: 5px;
}

#Home img {
    display: block;
    margin: 30px auto 0;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 60px 20px 60px 20px;
    border: 4px solid #ffffff;
    box-shadow: 0 0 15px whitesmoke;
}

#Home h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

#Home p {
    max-width: 700px;
    margin: 0 auto 30px;
    font-size: 1.15rem;
}

#Home a {
    display: inline-block;
    padding: 14px 32px;
    text-decoration: none;
    background: hsl(297, 55%, 33%);
    color: white;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(240, 112, 221, 0.781);
}

#Home a:hover {
    background: #ff8aea;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(6, 182, 212, 0.4);
}

#About {
    padding: 100px 20px;
}

#About p {
    max-width: 1000px;
    margin: auto auto 20px;
    text-align: justify;
    text-indent: 2em;
    color: white;
}
