*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    background-color: hsla(304, 42%, 39%, 0.964);
    color: #cbd5e1;
    line-height: 1.7;
}

h1, h2 {
    font-family: "Felipa", serif;
}

h3,
h4 {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    line-height: 1.2;
}
